@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body {
    background: #000;
}

body.loading::before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: #5ee;
    content: "\e601";
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 250%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

canvas, .input-catcher {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.input-catcher { cursor:grab; cursor:-moz-grab; cursor:-webkit-grab; user-select: none; }
.input-catcher.dragging { cursor:grabbing; cursor:-moz-grabbing; cursor:-webkit-grabbing; }

.load-helper {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: -2px;
    left: -2px;
}

.options {
    overflow: hidden;
    min-width: 32px;
    width: 32px;
    min-height: 32px;
    height: 32px;
    position: absolute;
    top: 16px;
    left: 16px;
    background: rgba(128, 128, 128, 0.5);
    border: 1px solid #000;
    transition: width .25s, height .25s, background-color .25s;
    border-radius: 5px;
    font-family: Calibri;
    overflow-x: hidden;
    overflow-y: auto;
}
    .options.open {
        width: 400px;
        height: calc(100% - 48px);
        background: #fff;
        padding: 8px 32px;
    }
    .options .knob  {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
        cursor: pointer;
        line-height: 32px;
    }

    .options #header, .options p {
        display: none;
    }
    .options.open #header, .options.open p {
        display: block;
    }
    .options h1 {
        font-size: 120%;
        margin: 0;
    }
    .options .sign {
        font-family: Consolas;
        margin: auto;
        text-align: center;
        background: #864;
        padding: 8px 32px;
        border: 5px solid #642;
    }
    .options table {
        margin: auto;
    }
    .options label {
        display: block;
        margin: 2px 15px;
    }
    .options label:hover {
        background: #eee;
    }
